.six-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.six-content {
    text-align: center;
    width: 30%;
}

.six-content h3 {
   font-size: 40px;
   font-weight: 700;
   opacity: 0.9;
   color: #26306a;
}

.six-content p {
    font-size: 12px; 
    opacity: 0.6;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .six-container {
        flex-direction: column; 
        gap: 20px; 
    }

    .six-content {
        width: 100%; 
    }

    .six-content h3 {
        font-size: 35px; 
    }

    .six-content p {
        font-size: 12px; 
    }
}
